/*  coomon share styles */

body{
    font-family: 'Open Sans', sans-serif;
}
nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}
.text-primary{
    color: #FD6E0A;
}
.btn-primary{ 
   
    background: #FD6E0A;
    border: 0;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    padding: 15px 35px;
}
.btn-primary2{ 
    
   margin-left: 25px;
   border: 1px solid #FD6E0A;
    border-radius: 10px;
    color: #FD6E0A;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    padding: 15px 35px;
}
.nav-title{
    color: var(--Dark-01, #181818);
    font-size: 45px;
    font-weight: 800;
}


nav > ul {
    display: flex;
    align-items: center;
}
nav li {
    list-style: none  ;
    margin-right: 50px ;
}
nav a { text-decoration: none;
    color: #474747;
     
}
/* Header related color */
.header {
    background-color:#FFF8F3;
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    
}
.baneer{
    padding: 30px 30px 00px 150px;
    display: flex;
    justify-content: space-between;
}
.banner-content{
    max-width: 585px;
}
. .baneer .profile-pic{
  width: 500;
}
.banner-greeting{
    font-size:45px;
    color:#181818;
    margin-bottom: 0px;

}
.banner-title{
    margin-top: 5px;
    font-size: 85px;
    font-weight: 700;
    margin-bottom: 20px;
}
.banner-p{
    font-size: 18px;
 font-weight: 400;
 
}